* {
    box-sizing: border-box;
}
body {
    background-color: #eeee;
    display: flex;
    flex-wrap: wrap;
    font:1rem sans-serif;
    margin: 0;
    padding-top: 3rem;
}
.addBtn{
    background-color: #2d2d2d;
    color:#eeee;
    border:none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    position: fixed;
    cursor: pointer;
    top: 1rem;
    right: 1rem;
}
.note{
    background-color: #fff;
    box-shadow: 0 0 10px 4px #0000001a;
    margin: 20px;
    height: 400px;
    width: 400px;
}
.note .tools{
    background-color: #2d2d2d;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}
.note .tools button{
    background-color: transparent;
    color:#eeee;
    border: none;
    font-size: 1rem;
    cursor:pointer;
    margin-left: 0.5rem;
}
.note .main{
    background-color: #eeee;
    overflow: hidden;
    height: 400px;
    width: 100%;
}
.note textarea{
    outline: none;
    resize: none;
    font: 1rem sans-serif;
    border: none;
    height: 360px;
    width: 100%;
}
.note .hidden {
    display: none;
}